:root {
  --primery-font: 'Cera', sans-serif;
  --primery-color: #5A5A5A;
  --secondary-color: #0F1419;
  --white-color: #fff;
  --accent-color: #FF7D41;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}











