:root {
  --primery-font: 'Cera', sans-serif;
  --primery-color: #5a5a5a;
  --secondary-color: #0f1419;
  --white-color: #fff;
  --header-white-color: #ffffffc2;
  --accent-color: #ff7d41;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
