<section class="section" id="features">
  <div class="container">
    <h1
      class="section-title changes lang"
      key="sectionfeaturestitle"
      data-aos="fade-up"
    >
      Сервіс таксі міжнародного рівня <span>DIDI</span> вже в
      <span>Україні!</span>
    </h1>
    <div class="features-wrapper">
      <div data-aos="fade-right">
        <ul class="features">
          <li class="features-item lang" key="featuresitem">
            Почніть заробляти в таксі DiDi відразу після запуску сервіса та
            отримайте доступ до розширеного пакету привілегій сервісу: бонуси,
            програма лояльності і підвищенний пріоритет.
          </li>
          <li class="features-item lang" key="featuresitem1">
            Користувачів привертає активна позиція агрегатора на ринку і
            очікувано низькі ціни на старті. Гарантований потік замовлень в
            таксі і бонуси - відмінна можливість заробити більше, ніж з
            будь-яким іншим агрегатором.
          </li>
          <li class="features-item lang" key="featuresitem2">
            Залиште заявку, і ми зв`яжемося з Вами.
          </li>
          <li class="features-item lang" key="featuresitem3">
            Для своїх водіїв ми пропонуємо вигідні умови: повністю вільний
            графік, підтримку фахівців, гарантія безпеки, тарифи, не просто
            покривають витрати, але і служать гідною оплатою праці. Робота в
            Діді - вдале поєднання стабільності, хорошого доходу і вільного
            графіка.
          </li>
          <li class="features-item lang" key="featuresitem4">
            Робота в Діді - вдале поєднання стабільності, гарного доходу і
            вільного графіка.
          </li>
        </ul>

        <a
          class="features-button lang"
          key="featuresbutton"
          href="#form"
          data-aos="fade-up"
          >Підключитись</a
        >
      </div>

      <img
        class="features-img"
        src="./images/features/car.webp"
        alt="автомобиль на фоне гор"
        data-aos="fade-left"
      />
    </div>
  </div>
</section>
