<section class="section" id="features">
  <div class="container">
    <h1 class="section-title changes">
      Сервис такси международного уровня <span>DIDI</span> уже в <span>Украине!</span>
    </h1>
    <div class="features-wrapper">
      <div>
        <ul class="features">
          <li class="features-item">
            Начните зарабатывать в такси DiDi сразу после запуска сервиса и получите доступ к
            расширенному пакету привилегий сервиса: бонусы, программа лояльности и повышенный
            приоритет.
          </li>
          <li class="features-item">
            Пользователей привлекает активная позиция агрегатора на рынке и ожидаемо низкие цены на
            старте. Гарантируемый поток заказов в такси и бонусы - отличная возможность заработать
            больше, чем с любым другим агрегатором.
          </li>
          <li class="features-item">Оставьте заявку, и мы свяжемся с Вами.</li>
          <li class="features-item">
            Для своих водителей мы предлагаем выгодные условия: полностью свободный график,
            поддержку специалистов, гарантия безопасности, тарифы, не просто покрывающие расходы, но
            и служащие достойной оплатой труда. Работа в ДиДи — удачное сочетание стабильности,
            хорошего дохода и свободного графика.
          </li>
          <li class="features-item">
            Работа в ДиДи — удачное сочетание стабильности, хорошего дохода и свободного графика.
          </li>
        </ul>

        <a class="featires-button" href="#form">Подключиться</a>
      </div>

      <img class="features-img" src="./images/features/car.webp" alt="автомобиль на фоне гор" />
    </div>
  </div>
</section>
