<footer class="footer">
  <div class="container footer-container">
    <a class="footer-logo" href="/" data-aos="fade-down"
      ><img
        src="./images/footer/logo-didi-footer.svg"
        alt="Логотип DiDi"
        width="185"
        height="57"
    /></a>
    <div class="footer-wrapper">
      <ul class="download" data-aos="fade-right">
        <li class="download-item">
          <a href="#"
            ><img src="./images/footer/playmarket.jpeg" alt="фото Play Market"
          /></a>
        </li>
        <li class="download-item">
          <a href="#"
            ><img src="./images/footer/app-store.jpeg" alt="фото App Store"
          /></a>
        </li>
      </ul>
      <ul class="footer-contacts" data-aos="fade-left">
        <li class="footer-contacts-item">
          <a class="footer-contacts-link lang" key="footercontacts" href="#"
            >Контакти</a
          >
        </li>
        <li class="footer-contacts-item">
          <a class="footer-contacts-link lang" key="footercontacts1" href="#"
            >Популярні питання</a
          >
        </li>
      </ul>
    </div>

    <ul class="social" data-aos="fade-down">
      <li class="social-item">
        <a class="social-link" href="#"
          ><svg class="social-icon" width="20" height="20">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="#">
          <svg class="social-icon" width="20" height="20">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="copyright">Copyright © 2021 All rights reserved.</p>
  </div>
</footer>
