<footer class="footer">
  <div class="container footer-container">
    <a class="footer-logo" href="/"
      ><img src="./images/footer/logo-didi-footer.svg" alt="Логотип DiDi" width="185" height="57"
    /></a>
    <div class="footer-wrapper">
      <ul class="download">
        <li class="download-item">
          <a href="#"><img src="./images/footer/playmarket.jpeg" alt="фото Play Market" /></a>
        </li>
        <li class="download-item">
          <a href="#"><img src="./images/footer/app-store.jpeg" alt="фото App Store" /></a>
        </li>
      </ul>
      <ul class="footer-contacts">
        <li class="footer-contacts-item"><a class="footer-contacts-link" href="#">Контакты</a></li>
        <li class="footer-contacts-item">
          <a class="footer-contacts-link" href="#">Популярные вопросы</a>
        </li>
      </ul>
    </div>

    <ul class="social">
      <li class="social-item">
        <a class="social-link" href="#"
          ><svg class="social-icon" width="20" height="20">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="#">
          <svg class="social-icon" width="20" height="20">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="copyright">Copyright © 2021 All rights reserved.</p>
  </div>
</footer>
