<section class="section form-section" id="form">
  <div class="container">
    <h2 class="visually-hidden">Зарегистрируйся уже сегодня</h2>
    <div class="form-wrapper">
      <img
        class="form-logo"
        src="./images/logo_didi.svg"
        alt="Логотип компании DiDi"
      />
      <h4 class="lang" key="formh4">Почніть заробляти разом з нами!</h4>
    </div>

    <form class="form">
      <h3 class="lang" key="formh3">Зареєструйся сьогодні!</h3>
      <span class="form-field">
        <input
          class="form-input _req"
          type="text"
          id="name"
          name="name"
          placeholder=" "
        />
        <label class="form-label lang" key="labelname" for="name">Ім`я</label>
      </span>

      <span class="form-field"
        ><input
          class="form-input _req"
          type="tel"
          id="tel"
          name="tel"
          placeholder=" "
        />
        <label class="form-label" for="tel">Телефон</label></span
      >

      <span class="form-field"
        ><input
          class="form-input _req _email"
          type="email"
          id="email"
          name="email"
          placeholder=" "
        />
        <label class="form-label" for="email">Емейл</label></span
      >

      <label class="checkbox-label">
        <input
          class="checkbox-input visually-hidden _req"
          type="checkbox"
          name="checkbox"
        />
        <span class="checkbox"></span>
        <span class="checkbox-text lang" key="checkbox"
          >Я згоден на обробку персональних даних</span
        >
      </label>

      <button class="form-button lang" key="formbutton">Підключитися</button>
    </form>
  </div>
</section>
