<section class="section form-section" id="form">
  <div class="container form-container">
    <h2 class="visually-hidden">Зарегистрируйся уже сегодня</h2>
    <div>
      <img class="form-logo" src="./images/logo_didi.svg" alt="Логотип компании DiDi" />
      <h4>Начните зарабатывать вместе с нами!</h4>
      <h3>Зарегистрируйся сегодня!</h3>
    </div>

    <form class="form">
      <span>
        <input class="form-input" type="text" id="name" />
        <label class="form-label" for="name">Имя</label>
      </span>

      <span
        ><input class="form-input" type="tel" id="tel" />
        <label class="form-label" for="tel">Телефон</label></span
      >

      <span
        ><input class="form-input" type="email" id="email" />
        <label class="form-label" for="email">Емейл</label></span
      >

      <button class="form-button">Подключится</button>
    </form>
  </div>
</section>
