<section class="section getstarted-section" id="getstarted">
  <div class="container">
    <h2 class="section-title lnag" key="getstartedtitle" data-aos="fade-down">
      Як почати працювати з DiDi?
    </h2>
    <div class="getstarted-container">
      <ul class="getstarted">
        <li class="getstarted-item" data-aos="fade-left">
          <h3 class="getstarted-title lang" key="getstartedtitle1">
            Зв'яжіться з нами для реєстрації
          </h3>
          <p class="getstarted-text lang" key="getstartedtext">
            Наш співробітник проконсультує і підключить вас до сервісу.
          </p>
        </li>
        <li class="getstarted-item" data-aos="fade-right">
          <h3 class="getstarted-title lang" key="getstartedtitle2">
            Дотримуйтесь інструкцій співробітника
          </h3>
          <p class="getstarted-text lang" key="getstartedtext1">
            Ми направимо вам всю необхідну інформацію і допоможемо.
          </p>
        </li>
        <li class="getstarted-item" data-aos="fade-left">
          <h3 class="getstarted-title lang" key="getstartedtitle3">
            Скачайте мобільний додаток
          </h3>
          <p class="getstarted-text lang" key="getstartedtext2">
            Безкоштовний додаток "DiDi Водій" доступний для Android в Google
            Play.
          </p>
        </li>
        <li class="getstarted-item" data-aos="fade-right">
          <h3 class="getstarted-title lang" key="getstartedtitle4">
            Виконуйте замовлення і заробляйте
          </h3>
          <p class="getstarted-text lang" key="getstartedtext3">
            Заробіток до 250 000 тенге в тиждень!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
