<section class="section getstarted-section" id="getstarted">
  <div class="container">
    <h2 class="section-title">Как начать работать с DiDi?</h2>
    <div class="getstarted-container">
      <ul class="getstarted">
        <li class="getstarted-item">
          <h3 class="getstarted-title">Свяжитесь с нами для регистрации</h3>
          <p class="getstarted-text">Наш сотрудник проконсультирует и подключит вас к сервису.</p>
        </li>
        <li class="getstarted-item">
          <h3 class="getstarted-title">Следуйте инструкциям сотрудника</h3>
          <p class="getstarted-text">Мы направим вам всю необходимую информацию и поможем.</p>
        </li>
        <li class="getstarted-item">
          <h3 class="getstarted-title">Скачайте мобильное приложение</h3>
          <p class="getstarted-text">
            Бесплатное приложение "DiDi Водитель" доступно для Android в Google Play.
          </p>
        </li>
        <li class="getstarted-item">
          <h3 class="getstarted-title">Выполняйте заказы и зарабатывайте</h3>
          <p class="getstarted-text">Заработок до 250 000 тенге в неделю!</p>
        </li>
      </ul>
    </div>
  </div>
</section>
