<header class="header" id="header">
  <div class="container header__container">
    <div class="header-wrapper">
      <a
        href="./"
        aria-label="Логотип компании DiDi"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <img
          class="logo"
          src="./images/logo_didi.svg"
          alt="DiDi логотип"
          width="90"
          height="30"
        />
      </a>
      <ul class="auth-nav" data-aos="fade-down">
        <li class="auth-nav-item">
          <a class="auth-nav-link" href="tel:+7(778)5265887"
            >+7 (778) 526-58-87</a
          >
        </li>
        <li class="auth-nav-item">
          <a class="auth-nav-link" href="tel:+7 (747) 387-47-35"
            >+7 (747) 387-47-35</a
          >
        </li>
        <li class="auth-nav-item">
          <a class="auth-nav-link" href="mailto:didiglobal.kz@gmail.com"
            >didiglobal.kz@gmail.com
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="mobile-menu-btn"
        data-menu-btn
        aria-label="открывает мобильное меню"
      >
        <svg class="mobile-menu-svg" width="30" height="20">
          <use href="./images/sprite.svg#icon-mobile-menu"></use>
        </svg>
      </button>
      <a
        href="#form"
        class="header-button lang"
        key="headerbutton"
        aria-label="ссылка на форму"
        data-aos="fade-left"
      >
        Підключитись
      </a>
    </div>

    <nav class="nav" data-aos="fade-up">
      <ul class="nav-list">
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#features"
            aria-label="О Нас"
            key="about"
            >Про нас</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#partnership"
            aria-label="Преимущества"
            key="features"
            >Переваги</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#form"
            aria-label="Подключиться"
            key="connect"
            >Підключитись</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#getstarted"
            aria-label="Водителям"
            key="drivers"
            >Водіям</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#form"
            aria-label="Владельцам автопарка"
            key="owners"
            >Власникам автопарків</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="mobile-menu" data-menu>
  <img
    class="logo mobile-menu-logo"
    src="./images/logo_didi.svg"
    alt="DiDi логотип"
    width="90"
    height="30"
  />
  <button
    class="mobile-menu-close"
    type="button"
    aria-label="закрыть меню"
    data-menu-close-btn
  >
    <svg class="mobile-menu-close-svg" width="40" height="40">
      <use href="./images/sprite.svg#icon-close-menu"></use>
    </svg>
  </button>
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#features"
            aria-label="О Нас"
            key="about"
            >Про нас</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#partnership"
            aria-label="Преимущества"
            key="features"
            >Переваги</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#form"
            aria-label="Подключиться"
            key="connect"
            >Підключитись</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#getstarted"
            aria-label="Водителям"
            key="drivers"
            >Водіям</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link lang"
            href="#fleet-owners"
            aria-label="Владельцам автопарка"
            key="owners"
            >Власникам автопарків</a
          >
        </li>
      </ul>
    </nav>
    <ul class="auth-nav">
      <li class="auth-nav-item">
        <a class="auth-nav-link" href="tel:+7(778)5265887"
          >+7 (778) 526-58-87</a
        >
      </li>
      <li class="auth-nav-item">
        <a class="auth-nav-link" href="tel:+7 (747) 387-47-35"
          >+7 (747) 387-47-35</a
        >
      </li>
      <li class="auth-nav-item">
        <a class="auth-nav-link" href="mailto:didiglobal.kz@gmail.com"
          >didiglobal.kz@gmail.com
        </a>
      </li>
    </ul>
  </div>
</div>
