<header class="header">
  <div class="container header__container">
    <a href="./" aria-label="Логотип компании DiDi">
      <img class="logo" src="./images/logo_didi.svg" alt="DiDi логотип" width="90" height="30" />
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#features" aria-label="О Нас">О Нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#partnership" aria-label="Преимущества">Преимущества</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#form" aria-label="Подключиться">Подключиться</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#getstarted" aria-label="Водителям">Водителям</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fleet-owners" aria-label="Владельцам автопарка"
            >Владельцам автопарка</a
          >
        </li>
      </ul>
    </nav>

    <a href="#form" class="header-button btn-modal" aria-label="ссылка на форму"> Подключиться </a>
    <button
      type="button"
      class="mobile-menu-btn"
      data-menu-btn
      aria-label="открывает мобильное меню"
    >
      <svg class="mobile-menu-svg" width="30" height="20">
        <use href="./images/sprite.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mobile-menu" data-menu>
  <img
    class="logo mobile-menu-logo"
    src="./images/logo_didi.svg"
    alt="DiDi логотип"
    width="90"
    height="30"
  />
  <button class="mobile-menu-close" type="button" aria-label="закрыть меню" data-menu-close-btn>
    <svg class="mobile-menu-close-svg" width="40" height="40">
      <use href="./images/sprite.svg#icon-close-menu"></use>
    </svg>
  </button>
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#features" aria-label="О Нас">О Нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#partnership" aria-label="Преимущества">Преимущества</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#form" aria-label="Подключиться">Подключиться</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#getstarted" aria-label="Водителям">Водителям</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-label="Владельцам автопарка">Владельцам автопарка</a>
        </li>
      </ul>
    </nav>
    <ul class="auth-nav">
      <li class="auth-nav-item">
        <a class="auth-nav-link" href="tel:+7(778)5265887">+7 (778) 526-58-87</a>
      </li>
      <li class="auth-nav-item">
        <a class="auth-nav-link" href="tel:+7 (747) 387-47-35">+7 (747) 387-47-35</a>
      </li>
      <li class="auth-nav-item">
        <a class="auth-nav-link" href="mailto:didiglobal.kz@gmail.com">didiglobal.kz@gmail.com </a>
      </li>
    </ul>
  </div>
</div>
