<section class="hero" id="fleet-owners">
  <div class="hero-overlay">
    <ul class="lang-controls">
      <li>
        <button class="translate" id="ru"><img src="./images/russia.svg" alt="" /></button>
      </li>
      <li>
        <button class="translate" id="ua"><img src="./images/ukraine.svg" alt="" /></button>
      </li>
    </ul>
    <h2 class="hero-title lang" key="herotitle">Переходь на</h2>
    <img class="hero-img" src="./images/logo_didi.svg" alt="Логотип компании DiDi" />
    <p class="hero-description lang" key="herodescription">
      Di global офіційний партнер компанії DiDi
    </p>
    <h3 class="hero-subtitle lang" key="herosubtitle">Ми вже в Україні</h3>
    <a class="hero-button lang" key="herobutton" href="#form">Зареєструватись</a>
    <a href="#form"><img src="./images/hero/arrows.png" alt="стрелка вниз" /></a>
  </div>
</section>
