<section class="section" id="partnership">
  <div class="container">
    <div class="partnership-wrapper">
      <div>
        <h2 class="section-title lang" key="partnershiptitle">Партнерство з DiDi</h2>
        <ul class="partnership">
          <li class="partnership-item">
            <h3 class="partnership-title lang" key="partnershiptitle1">Низька комісія</h3>
            <p class="partnership-text lang" key="partnershiptext">
              Майже весь заробіток з кожної поїздки залишається вам.Коміссія DiDi становить до 12%.
            </p>
          </li>

          <li class="partnership-item">
            <h3 class="partnership-title lang" key="partnershiptitle2">Безпека і комфорт</h3>
            <p class="partnership-text lang" key="partnershiptext1">
              У вас буде доступ до наших вбудованих в додаток функцій безпеки, які допоможуть вам
              почувати себе комфортно до і під час поїздки з клієнтом.
            </p>
          </li>

          <li class="partnership-item">
            <h3 class="partnership-title lang" key="partnershiptitle3">Телефонна підтримка 24/7</h3>
            <p class="partnership-text lang" key="partnershiptext2">
              DiDi піклується про вас під час ваших поїздок. Якщо вам потрібна допомога у вирішенні
              будь-яких виникаючих питань, телефонуйте в нашу службу підтримки DiDi.
            </p>
          </li>
        </ul>

        <a class="partnership-button lang" key="partnershipbutton" href="">Підключитись</a>
      </div>

      <img class="partnership-img" src="./images/partnership/team.webp" alt="Фото офиса DiDi" />
    </div>
  </div>
</section>
