<section class="section" id="partnership">
  <div class="container">
    <div class="partnership-wrapper">
      <div>
        <h2 class="section-title">Партнёрство с DiDi</h2>
        <ul class="partnership">
          <li class="partnership-item">
            <h3 class="partnership-title">Низкая комиссия</h3>
            <p class="partnership-text">
              Почти весь заработок с каждой поездки остается вам.Комиссия DiDi составляет до 12%.
            </p>
          </li>

          <li class="partnership-item">
            <h3 class="partnership-title">Безопасность и комфорт</h3>
            <p class="partnership-text">
              У вас будет доступ к нашим встроенным в приложение функциям безопасности, которые
              помогут вам чувствовать себя комфортно до и во время поездки с клиентом.
            </p>
          </li>

          <li class="partnership-item">
            <h3 class="partnership-title">Телефонная поддержка 24/7</h3>
            <p class="partnership-text">
              DiDi заботится о вас во время ваших поездок. Если вам требуется помощь в решении любых
              возникающих вопросов, звоните в нашу службу поддержки DiDi.
            </p>
          </li>
        </ul>

        <a class="partnership-button" href="">Подключиться</a>
      </div>

      <img class="partnership-img" src="./images/partnership/team.webp" alt="Фото офиса DiDi" />
    </div>
  </div>
</section>
