<section class="section">
  <div class="container">
    <h2 class="section-title requirements-desktop lang" key="requirementstitle">
      Основні вимоги для підключення DiDi
    </h2>
    <ul class="requirements">
      <li class="requirements-item">
        <div>
          <h3 class="requirements-title lang" key="requirementstitle1">Водій</h3>
          <p class="lang" key="requirementstext">— 18 років+</p>
          <p class="lang" key="requirementstext1">— Наявність ВП</p>
          <p class="lang" key="requirementstext2">— Відсутність судимостей</p>
        </div>
        <!-- <img src="./images/requirements/driver.webp" alt="" /> -->
      </li>
      <li class="requirements-item">
        <div>
          <h3 class="requirements-title lang" key="requirementstitle2">Автомобіль</h3>
          <p class="lang year" key="requirementstext3">
            — Від 1995 року випуску (в залежності від марки автомобіля)
          </p>
          <p class="lang" key="requirementstext4">— Без серйозних пошкоджень</p>
          <p class="lang" key="requirementstext5">— Двері 4+</p>
        </div>
        <!-- <img src="./images/requirements/auto.webp" alt="" /> -->
      </li>
    </ul>
  </div>
</section>
