<section class="section">
  <div class="container">
    <h2 class="section-title requirements-desktop">Основные требования для подключения DiDi</h2>
    <ul class="requirements">
      <li class="requirements-item">
        <div>
          <h3 class="requirements-title">Водитель</h3>
          <p>— 18 лет+</p>
          <p>— Наличие ВУ</p>
          <p>— Отсутствие судимостей</p>
        </div>
        <!-- <img src="./images/requirements/driver.webp" alt="" /> -->
      </li>
      <li class="requirements-item">
        <div>
          <h3 class="requirements-title">Автомобиль</h3>
          <p>
            — От 1995 года выпуска <br />
            (в зависимости от марки автомобиля)
          </p>
          <p>— Без серьезных повреждений</p>
          <p>— Двери 4+</p>
        </div>
        <!-- <img src="./images/requirements/auto.webp" alt="" /> -->
      </li>
    </ul>
  </div>
</section>
